## About Passbolt

Passbolt SA is private company registered in Luxembourg. Our mission is to build beautiful solutions to online
security and privacy problems. Our flagship software is an open source password manager that allows team members
to store and share credentials securely.

You will join an agile, growing and dynamic team committed to provide an exceptional user experience to all
passbolt community members. Passbolt is and always will be an engineering company. We're looking for versatile
self-motivated engineers who can bring fresh ideas and find elegant solutions to challenging problems.
